@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #e0f4ff;
}

.main {
  display: grid;
}

#root {
  max-width: 1250px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}

.user-card {
  background-color: #39a7ff;
  color: #e0f4ff;
  border-radius: 10px;
  max-width: 300px;
  height: 220px;
}

.card-btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
}

.card-username {
  margin: 15px 0px;
}

.card-image {
  padding-top: 15px;
}

.card-pop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e0f4ff;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.pop-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px -1px 20px -10px rgba(0, 0, 0, 0.45);
}

.close-info {
  background: transparent;
  font-size: 2rem;
}

.user-details {
  padding: 0 20px;
  display: block;
}

.user-title {
  font-weight: 600;
  font-size: 1.4rem;
}

.card-btn {
  transition: 0.5s ease-in-out;
}

.card-btn:hover {
  color: #fff;
  background-color: #87c4ff;
}

.user-details h2:first-child {
  margin-block-start: 12px;
}

.user-details h2 {
  font-size: 1.3rem;
  font-weight: 500;
  border-bottom: 2px solid #87c4ff;
  border-radius: 12px;
  padding: 5px;
  margin-block-start: 0;
}

@media screen and (max-width: 850px) {
  #root {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: auto;
    text-align: center;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
  }

  .card__user-name {
    font-size: 1.4rem;
  }

  .card-username {
    font-size: 1.4rem;
  }

  .card-pop {
    max-width: 500px;
  }

  .user-card {
    width: 300px;
  }

  .user-title {
    font-size: 1.8rem;
  }

  .user-details h2 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  #root {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    margin-inline: auto;
    text-align: center;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
  }

  .card-pop {
    max-width: 300px;
  }

  .user-card {
    width: 300px;
  }

  .user-title {
    font-size: 1.1rem;
  }

  .user-details h2 {
    font-size: 1rem;
  }
}
